@import "reset.css";

body {
    background-color: #eeeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.canvas {
    width: 580px;
    height: 580px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.controls {
    margin-top: 15px;
}

.controls_colors {
    display: flex;
}

.controls_color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 6px;
    border: 3px solid rgb(222, 222, 222);
    cursor: pointer;
}

.controls_color:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.controls_range {
    margin: 10px;
}

.controls_btns {
    gap: 10px;
    margin: 5px;
    display: flex;
}

.controls_btns button {
    width: 55px;
    height: 55px;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 10px;
    color: gray;
    cursor: pointer;
}

.controls_btns button:hover {
    transition: 0.3s;
    background: gray;
    color: white;
}

.controls_btns button:active {
    transform: scale(0.9);
}

.cursor {
    position: absolute;
    pointer-events: none;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
